html,
body,
.font-fam,
.modal-content,
.swal2-html-container {
  padding: 0;
  margin: 0;
  font-family: "Kanit", serif;
}


a {
  color: #3869b2 !important;
  text-decoration: none;
}

.btn-active{
  border-bottom: 2px solid #3766FF;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #20a8d8 !important;
  border-color: #20a8d8 !important;
}

.bg-nav {
  background: linear-gradient(90deg, #fff 100%);
}
 .bg-detail{
  background-color: #E0EFFF;
 }
.login .modal-content {
  border: 0px solid rgba(0, 0, 0, 0) !important;
}

.modal.modal-overlap {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.cursor-p {
  cursor: pointer;
}

.blod {
  font-weight: bold !important;
}

.blod-back {
  color: #000000 !important;
  font-weight: bold !important;
}

.text-blue {
  color: #3766FF !important;
}

.blue-60{
  color: #6D8FFF;
}

.blue-70{
  color: #3766FC;
}
.blue-80{
 color: #3766FF;
}

.text-red {
  color: #E9292A !important;
}

.text-gray-light {
  color: rgb(165, 165, 165) !important;
}

.text-gray-100 {
  color: #7a7b7c !important;
}
.text-gray{
  color: #989393;
}
.gray-40{
  color: #D0CACA;
}
.gray-50{
  color: #D5D5DC;
}
.gray-60{
  color: #B5B5BE;
}
.gray-70{
  color: #92929D;
}
.gray-80{
  color: #696974;
}
.gray-90{
  color: #44444F;
}
.gray-100{
  color: #171725;
}
.text-white {
  color: #fff;
}

.font12 {
  font-size: 12px !important;
}
.font13 {
  font-size: 13px !important;
}

.font10 {
  font-size: 10px !important;
}

.font14 {
  font-size: 14px !important;
}

.font36 {
  font-size: 36px !important;
}

.font18 {
  font-size: 18px !important;
}

.font20 {
  font-size: 20px !important;
}

.font22{
  font-size: 22px !important;
}
.font24{
  font-size: 24px !important;
}

.font25{
  font-size: 25px !important;
}

.font30{
  font-size: 30px !important;
}

.font35{
  font-size: 35px !important;
}

.font50{
  font-size: 50px !important;
}

.text-align-end{
  text-align: end;
}

.fixed-footer-container {
  min-height: calc(100vh - 132px);
}
.footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  
}

.border-r {
  border-right: 2px solid #dee2e6 !important;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.form-control {
  border: 1px solid #3766FC !important;
  border-radius: 20px !important;
  color: #3766FC !important;
}

.image-container div {
  position: unset !important;
}

.imageContainer > div {
  position: unset !important;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.image-sub{
  height: 100px;
  width: 100px;
  border-radius: 10px ;
  object-fit: cover;
  object-position: top center;
}

.img-inline {
  display: inline !important;
}

.nav-link.child {
  padding-left: 3.4rem !important;
}

.nav-pills .nav-link {
  border-radius: 0rem !important;
}

.nav-item.tab > .nav-link.active {
  background: #fff !important;
  color: #000 !important;
  font-weight: bold !important;
  border: 1px solid #c8ced3 !important;
}

.no-underline {
  border-bottom: 0px !important;
}

.bg-blue {
  background-color: #3766FF !important ;
}

.bg-gray-3{
  background-color: #FAFAFA !important;
  /* box-shadow: 0px 9px 11px rgba(0, 0, 0, 0.1); */
  border-radius: 50px !important;
  }
  
  .bg-green2 {
    background: #70ad46 !important;
    color: #fff !important;
  }
  
  .bg-cyan {
    background: #25b881 !important;
    color: #fff !important;
  }
  
  .bg-yellow {
    background: #ffc107 !important;
    color: #fff !important;
  }
  
  .bg-orange {
    background: #ed7d31 !important;
    color: #fff !important;
  }
  
  .bg-red {
    background: #fe0000 !important;
    color: #fff !important;
  }

  .footer-org .svg-inline--fa.fa-w-16 {
    width: 5px !important;
  }

  .footer-org p {
    display: flex !important;
    align-items: center !important;
  }

.w-35{
  width: 35%;
}

@media (max-width: 576px) {
  .image-width {
    height: 100px;
    width: 100px;
    border-radius: 10px ;
    object-fit: cover;
    object-position: top center;
  }
}

@media (min-width: 576px) {

  .image-width {
    height: 190px;
    width: 100%;
    border-radius: 10px ;
    object-fit: cover;
    object-position: top center;
  }
}

@media (max-width: 768px) {

  .image-width {
    height: 200px;
    width: 100%;
    border-radius: 10px ;
    object-fit: cover;
    object-position: top center;
  }
}

@media (min-width: 992px) {
  .image-width {
    height: 105px;
    width: 105px;
    border-radius: 10px;
    object-fit: cover;
    object-position: top center;
  }

}

@media (min-width: 1200px) {

  .image-width {
    height: 109px;
    width: 109px;
    border-radius: 10px;
    object-fit: cover;
    object-position: top center;
  }

}

@media (min-width: 1300px) {
  .image-width {
    height: 140px;
    width: 140px;
    border-radius: 10px;
    object-fit: cover;
    object-position: top center;
  }

  .imagesub-left{
    margin-left: 8px;
  }
}

@media (min-width: 1600px) {
  .image-width {
    height: 170px;
    width: 170px;
    border-radius: 10px;
    object-fit: cover;
    object-position: top center;
  }

}



